# /* ------------------------------------------------------------------------------------------------------------------------------------------------------------ 

#     Universidade Federal De Viçosa - Campus Florestal
#     Trabalho prático 1 de Algorítimos e estrutura de dados 2
    
#     Professora responsável: 
#         Glaucia Braga e Silva
        
#     Integrantes do Gupo:
#         Caio Oliveira Almeida - 4237
#         Guilherme Augusto Schwann Wilke - 4685
#         João Vitor Chagas Lobo - 4693

#     Arquivo: 
#         .gitignore
#         Descrição do arquivo: Arquivo de configuração do git que contém os arquivos a serem ignorados no momento do "commit"
#         Ultima modificação: 18/06 - Por: João Vitor Chagas Lobo

# ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
*.out
*.exe
*.gch
*.txt